.custom-file-input {
    display: none;
}

.custom-file-label {
    border-top-left-radius: 3px!important;
    border-bottom-left-radius: 3px!important;
    font-size: 100%!important;
    padding: 0.375rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-upload {
    border-top-right-radius: 3px!important;
    border-bottom-right-radius: 3px!important;
    font-family: Arial, Helvetica, sans-serif;
}

.site-title h2 {
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

caption {
    font-style: italic;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    text-align: center;
}

.footer p {
    font-family: 'Times New Roman', Times, serif;
}
