<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finger Spot Absent</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="d-flex justify-content-center mt-4 mb-2 site-title">
                    <h2>Finger Spot Absent</h2>
                </div>

                <div class="mb-4">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile04" name="file">
                                <label class="custom-file-label" for="inputGroupFile04" title="Browse file">{% if context %}{{ context.filename }}{% else %}Browse file..{% endif %}</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-upload" type="submit">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>

                {% if context %}
                <div class="mb-4">
                    <table class="table table-striped table-bordered">
                        <caption class="">Tabel Jam Kerja</caption>
                        <thead>
                            <th scope="col" style="width: 5%">No.</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Total Jam Kerja</th>
                        </thead>
                        <tbody>
                            {% for key, value in context.worked_hours.items() %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ key }}</td>
                                <td>{{ value | pretty_hours }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <hr style="width: 100%;">
                <div class="mb-5">
                    <canvas id="work-hours-chart" width="100" height="100"></canvas>
                </div>

                <div class="footer">
                    <p>
                        Copyright @ 2019
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>
{% if context %}
<script>
var ctx = document.getElementById('work-hours-chart').getContext('2d');
var workHoursChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for key, value in context.worked_hours.items() %}"{{ key }}"{% if not loop.last %},{% endif %}{% endfor %}],
        datasets: [{
            label: ['Worked Hours'],
            data: [{% for key, value in context.worked_hours.items() %}{{ value|pretty_hours }}{% if not loop.last %},{% endif %}{% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(75, 192, 192, 0.4)',
                'rgba(153, 102, 255, 0.4)',
                'rgba(255, 159, 64, 0.4)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        },
        legend: {
            display: false
        },
        responsive: true,
        aspectRatio: 0.5
    }
});
</script>
{% endif %}
</html>